$primary-color: #1a76ff;

$neutral-color: #61A08D;

$action-color-text: #68032F;
$action-color-background: #e05795;

$card-background-color: white;
$card-shadow-color: black;
$card-text-color: black;

$highlight-color: black;
$highlight-color-2: #423738;

$text-color: white;
