@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

$font-family: 'EB Garamond', serif;
$font-size: 1.5em;
$font-size-small: 1em;
$line-height: 1.5em;
