@use '../variables' as *;

#contact {
	form {
		margin: auto;
		width: 80%;
		max-width: 50rem;

		label,
		input,
		textarea,
		select {
			display: block;
			width: 100%;
		}

		input,
		textarea,
		select {
			margin-bottom: 0.5rem;
		}

		input[type='submit'] {
			font-family: $font-family;
			font-size: 1.25rem;
		}

		.required::after {
			content: '*';
			color: red;
			margin-left: 0.25rem;
		}
	}

	p{
		max-width: 37.5rem;
	}
}
