@use '../variables' as *;

header {
    background: rgba($primary-color, 0.7);
	display: flex;
	justify-content: space-between;
    padding: 10px 40px;
    position:fixed;
    top: 0;
    width: 100%;

    img{
        height: 80px;
    }

	nav{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        a{
            color: $neutral-color;
            text-decoration: none;
            
            &:hover,
            &:focus,
            &.selected{
                color: $highlight-color;
            }

            &.selected{
                text-decoration: underline;
            }
        }
    }
}