@use '../variables' as *;

header {
    background: rgba($primary-color, 0.7);
	display: flex;
	justify-content: space-between;
    padding: 10px 40px;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    img{
        height: 80px;
    }

	nav{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        a{
            color: $text-color;
            text-decoration: none;
            
            &:hover,
            &:focus,
            &.selected{
                color: $highlight-color;
                text-decoration: none;
            }

            &.selected{
                text-decoration: underline;
            }
        }
    }

    .burger{
        background: none;
        border: none;
        display: none;

        &__bar{
            background-color: white;
            width: 20px;
            height: 3px;

            &.middle{
                margin-block: 3px;
            }
            
        }

    }

    @media screen and (max-width: 500px) {

        flex-direction: column;

        .burger{
            display: block;
            margin: auto;

        }

        nav{
            display: none;
            flex-direction: column;
            width: 100%;

            &.visible{
                display: flex;
            }

        }
    }
}