@use '../variables' as *;

header {
    background: rgba($color-primary-light, 0.7);
	display: flex;
	justify-content: space-between;
    padding: 0.5rem 2.5rem;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    img{
        aspect-ratio: 10/13;
        height: 6.5rem;

        @media screen and (max-height: 300px) {
            height: 5rem;
        }
    }

	nav{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        a{
            color: $color-text-primary;
            text-decoration: none;
            transition: color 250ms linear;
            
            &:hover,
            &:focus,
            &.selected{
                color: $action-color-text;
            }
        }
    }

    .burger{
        background: none;
        border: none;
        display: none;

        &__bar{
            background-color: white;
            width: 2rem;
            height: 0.25rem;

            &.middle{
                margin-block: 0.25rem;
            }
            
        }

    }

    @media screen and (max-width: 500px) {

        flex-direction: column;

        .burger{
            display: block;
            margin: auto;

        }

        nav{
            display: none;
            flex-direction: column;
            width: 100%;

            &.visible{
                display: flex;
            }

        }
    }

}