#mission{
    p{
        margin: auto;
        max-width: 1000px;
        width: 80%;

    }
}

#values{

    margin: auto;
    max-width: 1200px;
    width: 80%;

    .value-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    article{
        
        margin: 20px;
        width: 300px;
    }
}
}
