@use '../variables' as *;
#values {
	.value-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		article {
			margin: 2rem;
			width: 19rem;
		}
	}
}

#work{

	ul{
		list-style: inside;
	}

	li{
		margin: 1rem 0;
	}
}
