@use '../variables' as *;

.container{
    display: flex;
    justify-content: space-around;
}

#donate{
    a{
        color: $text-color;
        text-decoration: none;
    }
    .logoImg{
        width: 200px;
    }
}