@use '../variables' as *;

#hero{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	img{
		display: block;
		max-width: 80%;

	}

	p{
		font-weight: 700;
		width: 400px;
		max-width: 80%;
		margin: 0;
	}
}

#kits {
	text-align: center;

	article {
		margin: 20px;
	}

	p {
		max-width: 500px;
		text-align: left;
	}
	.list-container {
		text-align: center;
	}
	ul {
		display: inline-block;
	}
}

#donate {
	a {
		color: $text-color;
		text-decoration: none;
		width: 300px;
		max-width: 60%;
	}
	p{
		font-size: 0.75em;
	}
	.logoImg {
		width: 80%;
		
	}

	.btn{
		border-radius: 20px;
		box-shadow: 0 0 10px 5px $neutral-color;
		p{
			width: 100%;
		}
	}
}

#contact{
	text-align: center;
}
