@use '../variables' as *;



#kits {
	text-align: center;

	article {
		margin: 20px;
	}

	p {
		max-width: 500px;
		text-align: left;
	}
	.list-container {
		text-align: center;
	}
	ul {
		display: inline-block;
	}
}

#donate {
	a {
		color: $text-color;
		text-decoration: none;
	}
	.logoImg {
		width: 200px;
	}

	.btn{
		border-radius: 20px;
		box-shadow: 0 0 10px 5px $neutral-color;
		p{
			width: 100%;
		}
	}
}
