@use '../variables/' as *;

#kit_hero {

	flex-wrap: nowrap;

	img {
		aspect-ratio: 1/1;
		width: 19rem;
		max-width: 20%;
		margin: auto;

		&.smaa_logo{
			aspect-ratio: 10/13;
		}
	}

	p{
		margin-bottom: 2.5rem;
	}

	.btn {
		margin: 1rem 2rem;
	}

	@media screen and (max-width:700px) {
		flex-direction: column-reverse;
		
		img{
			max-width: 80%;
			margin-block: 1rem;
		}
	}

}

#pickup {

	& > p{
		margin: 2rem auto;
	}

	figure {
		width: 80%;
		max-width: 25rem;
		padding: 1rem;
		margin: 0.5rem;

		P {
			text-align: center;
		}

		img {
			width: 100%;
			aspect-ratio: 1;
		}
	}
}
