#resources{
    .container{
        flex-wrap: wrap;
    }

    a{
        display: block;
        text-align: center;
        // margin: auto;
    }

    article{
        margin-bottom: 20px;
    }
}