#resources{
    .container{
        flex-wrap: wrap;
    }

    

    article{
        margin-bottom: 20px;
        
        a{
        display: block;
        text-align: center;
        // margin: auto;
    }
    }
}