@use 'variables' as *;
@use 'components' as *;
@use 'pages' as *;

// *** GLOBAL RULES *** //
*,
*::after,
*::before {
	box-sizing: border-box;
	line-height: $line-height;
	margin: 0;
	padding: 0;
}

*::selection {
	background: black;
	color: white;
}

*:focus-visible {
	border: 0.25rem solid black;
	box-shadow: 0 0 0.5rem 0.25rem white;
}

html {
	scroll-behavior: smooth;
}

body {
	// background-color: $primary-color;
	// color: $text-color;
	@include color-theme($theme-primary...);
	font-family: $font-family;
	font-size: $font-size-regular;
	margin-top: 9rem;
}

// *** HTML ELEMENT RULES *** //

input[type='submit']{
	// margin: 0;
}

a, input[type='submit'] {
	// color: $action-color-text;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
	transition: text-shadow 250ms linear, color 250ms linear;

	&:hover {
		text-shadow: 0 0 0.5rem white;
	}
}

h1,
h2,
h3 {
	margin: 1rem;;
	text-align: center;
	text-shadow: 0 0 0.5rem black;
}

h1, h2{
	font-size: $font-size-header;
	letter-spacing: $header-line-spacing;
	font-weight: $font-weight-header;
	line-height: 1.3 * $font-size-header;
}

h2,h3{
	color: $color-secondary;
}

h3{
	font-weight: $font-weight-subheader;
	font-size: $font-size-regular;
	line-height: 1.3*$font-size-regular;
}

p {
	line-height: 1.5 * $font-size-regular;
	margin-block: 2rem;
	margin-inline: auto;
	max-width: 31.25rem;
	width: 80%;
}

section {
	padding: 3.25rem 0;
}

section:nth-child(2n + 1) {
	@include color-theme($theme-secondary...);

	padding: 5rem 0;
	position: relative;

	--s: 12.5rem; /* control the size */
	$c1: $color-primary-light;
	$c2: $color-primary-neutral;
	$c3: $color-primary-dark;

	background: repeating-conic-gradient(from 30deg, #0000 0 120deg, $c3 0 180deg)
			calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
		repeating-conic-gradient(
			from 30deg,
			$c1 0 60deg,
			$c2 0 120deg,
			$c3 0 180deg
		);
	background-size: var(--s) calc(var(--s) * 0.577);


	.btn,
	input[type='submit'] {
		@include color-theme($theme-button...);
		&:hover {
			@include color-theme($theme-button-hover...);
		}
	}
}

section:nth-child(4n + 1) {
	--s: 6rem; /* control the size*/
	$c1: $color-primary-light;
	$c2: $color-primary-neutral;
	$c3: $color-primary-dark;

	$_g: 0 120deg, #0000 0;
	background: conic-gradient(
			from 0deg at calc(500% / 6) calc(100% / 3),
			$c3 $_g
		),
		conic-gradient(
			from -120deg at calc(100% / 6) calc(100% / 3),
			$c2 $_g
		),
		conic-gradient(
			from 120deg at calc(100% / 3) calc(500% / 6),
			$c1 $_g
		),
		conic-gradient(
			from 120deg at calc(200% / 3) calc(500% / 6),
			$c1 $_g
		),
		conic-gradient(
			from -180deg at calc(100% / 3) 50%,
			$c2 60deg,
			$c1 $_g
		),
		conic-gradient(
			from 60deg at calc(200% / 3) 50%,
			$c1 60deg,
			$c3 $_g
		),
		conic-gradient(
			from -60deg at 50% calc(100% / 3),
			$c1 120deg,
			$c2 0 240deg,
			$c3 0
		);
	background-size: calc(var(--s) * 1.732) var(--s);
}

// *** CLASS RULES *** //
.article{
	background-color: white;
	border-radius: 0.5rem;
	color: black !important;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0.5rem;
	max-width: 19rem;
	padding: 0.5rem;
	position: relative;
	text-align: left;
	transition: box-shadow 250ms linear;

	&:hover{
		box-shadow: 0 0 1rem white;
	}

	img{
		width: 100%;
	}
	.date{
		font-size: 1rem;
		text-align: right;
		margin: 0;
		width: 100%;
	}
}

.frosted-glass{
	backdrop-filter: blur(0.5rem);
	background: rgba($color: $color-secondary-dark, $alpha: 0.5);
	border-radius: 1rem;
	margin: 0.5rem;
}

.btn,
input[type='submit'] {
	// background: linear-gradient(
	// 	$action-color-background,
	// 	mix($action-color-background, black, 75%)
	// );
	@include color-theme($theme-button...);
	border: none;
	border-radius: 0.5rem;
	// color: white;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	text-decoration: none;

	&:hover {
		// background: linear-gradient(
		// 	mix($action-color-background, black, 75%),
		// 	$action-color-background
		// );
		@include color-theme($theme-button-hover...);
		text-decoration: none;
	}
}

.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.emphasized {
	font-weight: 800;
	color: $color-secondary;
}


// LOW RES SETTINGS
@media screen and (max-width: 500px) {

	h1, h2{
		font-size: $header-size-lowres;
		line-height: 1.3*$header-size-lowres;
	}

	h3, p, a, input[type='submit']{
		font-size: $font-size-lowres;
		line-height: 1.5 * $font-size-lowres;
	}
}