@use 'variables' as *;
@use 'components' as *;
@use 'pages' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
    line-height: $line-height;
	margin: 0;
	padding: 0;
	text-align: left;
}

body {
	background-color: $primary-color;
	color: $text-color;
	font-family: $font-family;
	font-size: $font-size;
}

h1, h2, h3{
    text-align: center;
    text-shadow: 0 0 10px $highlight-color;
}

.emphasized {
	color: $highlight-color;
	font-weight: 700;
    text-shadow: 0 0 3px white;
}

section {
	padding: 20px;
	// background: $neutral-color;
}
